version: "3.9"

services:
  post:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: post-service
    ports:
      - "8082:8082"
    env_file:
      - .env
    restart: always
